body {
    font-family: 'Lemon', serif;    
    background-color: rgb(14, 14, 14);
    color: rgb(201, 192, 192);
    text-align: center;
    font-size: 30px;
}
img {
    width: 100%;
}
h1 {
    color: red;
}
h2 {
    color: rgb(2, 104, 2);
}
h3 {
    color: red;
}
.esquerda {
    text-align: left;
}
p {
    font-size: 25px;
}
r {
    color: red;
}